.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  &_onDark {

    .header__menu:not(.header__menu_active) .header__links {
      display: none;
    }

    .header__menu a,
    .header__links a {
      color: #edf6fa;
    }

    .header__btn {
      color: #edf6fa;
      border-color: #edf6fa;
    }

    .header__socials a {
      color: #edf6fa;
    }

    .header__info_burger {
      color: #edf6fa;
    }
  }

  &__close {
    color: #fff;
  }

  &__info_burger {
    color: #010f3f;
  }

  &__container {
    padding: 17px 0;
    max-width: 1482px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__menu {
    display: grid;
    place-items: flex-end;

    a {
      padding: 0 8px;
      color: #010f3f;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.259px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: none;
      }
    }

    // button {
    //   width: 111px;
    //   height: 48px;
    //   border-radius: 4px;
    //   border: 1px solid #010f3f;
    //   background: #010f3f;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   color: #fff;
    //   text-align: center;
    //   font-size: 16px;
    //   font-style: normal;
    //   font-weight: 500;
    //   line-height: 24px;
    //   letter-spacing: -0.259px;
    //   margin-left: 32px;
    //   transition: transform 0.2s ease, background 0.2s ease;
    //   overflow: hidden;
    // }
    &_wrapper {
      display: flex;
      align-items: center;

      &_logo {
        display: none;
      }

      &_link {
        svg {
          path {
            transition: 0.2s ease-in-out;
          }
        }

        &:hover {
          svg {
            path {
              fill: #010f3f;
              transition: 0.2s ease-in-out;
            }
          }
        }
      }
    }

    &_links {
      display: none;
    }

    &_header {
      display: none;
    }

    &_link {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        transition: 0.2s ease-in-out;
      }

      &:hover {
        &::after {
          background: #435fb9;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 0;

    a {
      color: #0853e8;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 30px;

    a {
      color: #010f3f;
      padding: 8px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__info {
    display: none;
  }

  &__btn {
    background: transparent;
    color: #0853e8;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.259px;
    width: 114px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0853e8;
    margin-left: 32px;
    cursor: pointer;
  }
}