@use "./styles/header";
@use "./styles/promo";
@use "./styles/info";
@use "./styles/public";
@use "./styles/protocol";
@use "./styles/blockchain";
@use "./styles/launch";
@use "./styles/join";
@use "./styles/move";
@use "./styles/footer";
@use "./styles/modal";
@use "./styles/cookiebanner";

* {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  max-width: 1482px;
  width: 100%;
  margin: 0 auto;
}

.notFound {
  height: calc(100vh - 61px);
  position: relative;
  min-height: 800px;
  &__header {
    z-index: 1;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__bg {
    background-color: #f7fcfe;
    background-image: url("/images/404.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: hard-light;
    height: 100%;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__title {
    color: #fff;
    font-size: 120px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -6px;
  }
  &__subtitle {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin: 24px auto;
  }
  &__btn {
    width: 186px;
    height: 48px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    justify-content: center;
    border-radius: 4px;
    background: #0853e8;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.259px;
    text-decoration: none;
    &:focus,
    &:active {
      outline: none;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.animation__delay_100 {
  animation-delay: 0.1s;
}

.animation__delay_200 {
  animation-delay: 0.2s;
}
.animation__delay_300 {
  animation-delay: 0.3s;
}
.animation__delay_400 {
  animation-delay: 0.4s;
}

.animation__delay_500 {
  animation-delay: 0.5s;
}

.animation__delay_1000 {
  animation-delay: 1s;
}

@media screen and (max-width: 1520px) {
  .header {
    &__container {
      max-width: 100%;
      padding: 17px 60px;
    }
  }
  .container {
    max-width: 1140px;
  }
  .promo {
    padding: 405px 0 339px 0;
  }
  .info {
    &__title {
      max-width: 655px;
    }
  }
  .public {
    &__right {
      max-width: 567px;
    }
    &__left {
      img {
        width: 700px;
        top: -320px;
      }
    }
  }
  .protocol {
    img {
      width: 600px;
    }
    &__left {
      max-width: 560px;
    }
  }
  .blockchain {
    &__image {
      width: 500px;
    }
    &__right {
      max-width: 561px;
    }
  }
  .join {
    background-size: 786px;
    padding-bottom: 140px;
    &__right {
      max-width: 756px;
    }
  }
  .move {
    &__wrapper {
      background-image: url("/images/move_med.png");
    }
    &__title {
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 1360px) {
  .join {
    background-size: 586px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 920px;
  }
  .promo {
    background-size: 600px;
  }
  .public {
    &__left {
      img {
        width: 500px;
        top: -255px;
      }
    }
  }
  .protocol {
    padding: 70px 0;
    img {
      width: 450px;
    }
  }
  .blockchain {
    padding-bottom: 70px;
    &__image {
      width: 400px;
    }
    &__right {
      max-width: 461px;
    }
  }
  .launch {
    &__list {
      width: 420px;
    }
  }
  .join {
    background-size: 306px;
  }
  // .move {
  //   background-image: url("../images/move_mob.png");
  //   background-size: cover;
  //   .container {
  //     height: 652px;
  //   }
  // }
  // .footer {
  //   .container {
  //     height: auto;
  //   }
  // }
}

@media screen and (max-width: 1070px) {
  .header {
    > img:first-child {
      width: 134px;
    }
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .promo {
    padding: 137px 0 340px 0;
    background-size: 500px;
    background-position: right center;
    h1 {
      font-size: 60px;
      font-weight: 300;
      max-width: 440px;
      letter-spacing: -3px;
      span {
        font-size: 60px;
        font-weight: 300;
        letter-spacing: -3px;
        animation: none;
        display: inline;
      }
    }
    h2 {
      font-size: 20px;
      font-weight: 300;
      max-width: 330px;
    }
  }
  .info {
    padding: 60px 0;
    &__wrapper {
      flex-direction: column;
      img {
        width: 40px;
      }
    }
    &__title {
      font-size: 32px;
      font-weight: 300;
      max-width: 100%;
      margin-bottom: 51px;
    }
    &__right {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 100%;
      > div {
        width: calc(50% - 10px);
      }
    }
  }
  .public {
    padding: 60px 0;
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
    &__left {
      img {
        width: 700px;
        top: -155px;
        left: 0;
      }
    }
    &__right {
      padding-top: 390px;
      max-width: 537px;
      margin-left: 0;
    }
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 14px;
    }
  }
  .protocol {
    padding: 30px 0 60px 0;
    .container {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    img {
      width: 527px;
      margin-left: auto;
    }
    &__title {
      font-size: 32px;
      font-weight: 200;
      letter-spacing: -1.28px;
    }
    &__subtitle {
      font-size: 14px;
      font-weight: 200;
    }
  }
  .blockchain {
    padding-top: 0;
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
    &__image {
      margin-left: auto;
      width: 518px;
    }
    &__title {
      font-size: 32px;
      font-weight: 200;
      letter-spacing: -1.28px;
    }
    &__right {
      max-width: 537px;
      width: 100%;
    }
    &__text {
      height: 46px;
    }
  }
  .launch {
    padding: 60px 0;
    .container {
      align-items: flex-start;
    }
    h2 {
      font-size: 42px;
      letter-spacing: -1.68px;
      span {
        font-size: 42px;
        font-weight: 200;
        letter-spacing: -1.68px;
      }
    }
    &__list {
      width: 320px;
    }
  }
  .join {
    background-size: 712px;
    padding-bottom: 0;
    &__right {
      margin-left: 0;
      max-width: 100%;
      padding-top: 500px;
      > img:first-child {
        width: 40px;
      }
    }
    &__title {
      font-size: 32px;
      letter-spacing: -1.28px;
      font-weight: 300;
      br {
        display: none;
      }
    }
    &__subtitle {
      font-size: 14px;
      font-weight: 300;
      br {
        display: none;
      }
    }
    &__wrapper {
      flex-direction: column;
    }
    &__block {
      height: auto;
      padding: 24px 16px;
      &_1 {
        width: 100%;
        background: #0853e8;
        .join__block_outer {
          left: unset;
          right: 50px;
          top: -150px;
        }
        .join__block_inner {
          left: unset;
          right: 75px;
          top: -130px;
        }
        div {
          color: #fff;
        }
        svg {
          path {
            stroke: #fff;
          }
        }
        &:hover {
          box-shadow: none;
          img {
            transform: rotate(0);
          }
          .join__block_outer,
          .join__block_inner {
            transform: rotate(0);
          }
        }
      }
      &_2 {
        width: 100%;
        img {
          display: none;
        }
        &:hover {
          background: #edf6fa;
          box-shadow: none;
          div {
            color: #010f3f;
          }
          svg {
            path {
              stroke: #010f3f;
            }
          }
        }
      }
      &_3 {
        width: 100%;
        img {
          display: none;
        }
        &:hover {
          background: #edf6fa;
          box-shadow: none;
          div {
            color: #010f3f;
          }
          svg {
            path {
              stroke: #010f3f;
            }
          }
        }
      }
    }
  }
  // .move {
  //   &__title {
  //     font-size: 32px;
  //     font-weight: 200;
  //     letter-spacing: -1.28px;
  //     max-width: 272px;
  //   }
  //   &__subtitle {
  //     font-size: 24px;
  //     font-weight: 200;
  //     letter-spacing: -0.96px;
  //   }
  // }
  .join__block .join__block_outer,
  .join__block .join__block_inner {
    opacity: 1;
  }
  .header {
    &__container {
      padding: 16px 20px;
    }
    &__menu {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100vh;
      background: #010f3f;
      background-image: url("/images/header.png");
      background-repeat: no-repeat;
      background-position: top center;
      flex-direction: column;
      justify-content: space-evenly;
      row-gap: 16px;
      transform: translateX(100%);
      transition: 0.5s ease-in-out;
      a {
        color: #fff;
        padding: 8px 16px;
      }
      button {
        background: #0853e8;
        margin-left: 0;
        border-radius: 4px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.259px;
        width: 177px;
        margin-top: 44px;
      }
      &_header {
        position: absolute;
        top: 0;
        left: 0;
      }
      &_wrapper {
        flex-direction: column;
        &_link {
          display: none;
        }
        &_logo {
          display: block;
        }
      }
      &_links {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 24px;
        margin-top: 44px;
        a {
          padding: 4px;
          img {
            filter: invert(1);
            width: 40px;
            height: 40px;
          }
        }
      }
      &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 16px 10px;
        button {
          padding: 8px;
          outline: none;
          border: none;
          background: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
          margin-left: auto;
          margin-top: 10px;
          &:active,
          &:focus {
            outline: none;
          }
        }
      }
      &_active {
        transform: translateX(0);
        transition: 0.5s ease-in-out;
      }
    }
    &__info {
      display: flex;
      align-items: center;
      column-gap: 24px;
      &_burger {
        padding: 8px;
        border: none;
        background: transparent;
        outline: none;
        &:active,
        &:focus {
          outline: none;
        }
      }
      &_join {
        width: 111px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        background: #010f3f;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.259px;
        border: 1px solid #010f3f;
      }
    }
  }
}

@media screen and (max-width: 766px) {
  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    &__container {
      > img:first-child {
        width: 78px;
      }
    }
  }

  .promo {
    background-size: 331px;
    background-position: bottom right;
    h1 {
      max-width: 100%;
      font-size: 42px;
      text-align: center;
      span {
        font-size: 42px;
      }
      display: none;
    }
    h2 {
      max-width: 320px;
      margin: 24px auto;
      text-align: center;
    }
    h3 {
      display: block;
      max-width: 100%;
      font-size: 50px;
      text-align: center;
      color: #030a23;
      text-align: center;
      font-size: 50px;
      font-weight: 300;
      line-height: 99%;
      letter-spacing: -2px;
      span {
        font-size: 50px;
        color: #0853e8;
      }
    }
    button {
      width: 255px;
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }

  .info {
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
    &__description {
      text-align: center;
    }
    &__right {
      flex-direction: column;
      > div {
        width: 100%;
      }
    }
  }

  .public {
    padding: 0 0 60px 0;
    &__left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 500px;
        position: relative;
        top: 0;
        left: 0;
      }
    }
    &__right {
      max-width: 100%;
      padding-top: 0;
    }
    &__list {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 24px;
      align-items: center;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        div {
          opacity: 0.8;
        }
      }
    }
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
    &__text {
      width: 100%;
      text-align: center;
      margin-top: 12px;
    }
    button {
      margin: 24px auto 0 auto;
      max-width: 355px;
      width: 100%;
      display: block;
    }
  }
  .protocol {
    img {
      width: 100%;
      margin-left: 0;
    }
    &__left {
      max-width: 100%;
    }
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
    }
    &__text {
      text-align: center;
      font-size: 18px;
    }
  }
  .blockchain {
    &__image {
      margin-left: 0;
      width: 100%;
    }
    &__wrapper {
      > div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }
    &__title {
      text-align: center;
    }
    &__text {
      height: auto;
    }
  }
  .launch {
    .container {
      flex-direction: column;
      row-gap: 32px;
    }
    &__list {
      width: 100%;
    }
  }
  .join {
    background-size: 393px;
    &__right {
      padding-top: 175px;
    }
    &__title {
      text-align: center;
      line-height: 120%;
    }
    &__subtitle {
      text-align: center;
    }
  }
  .modal {
    &__wrapper {
      max-width: 100%;
      width: 90%;
    }
    &__title {
      max-width: 100%;
    }
    &__subtitle {
      max-width: 100%;
    }
  }
  // .move {
  //   background-size: auto;
  //   background-position: center top;
  //   .container {
  //     height: auto;
  //   }
  //   &__title {
  //     padding-top: 350px;
  //   }
  // }
  .footer {
    padding: 71px 0;
    margin-top: 100px;
    &__404 {
      padding-top: 20px;
    }
    .container {
      flex-direction: column-reverse;
      height: auto;
    }
    &__links {
      margin-top: 30px;
      flex-direction: column;
      row-gap: 30px;
      margin-bottom: 35px;
    }
  }

  .move {
    height: 952px;
    &__wrapper {
      background-image: url("move_mobile.png");
      background-position: center calc(100% - 100px);
    }
    &__subtitle {
      font-size: 24px;
    }
  }

  .notFound {
    min-height: 600px;
    &__bg {
      background-image: url("/images/404_mob.png");
    }
    &__title {
      font-size: 100px;
      letter-spacing: -5px;
    }
    &__subtitle {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 576px) {
  .move {
    height: 752px;
    &__title {
      font-size: 36px;
    }
    &__subtitle {
      font-size: 16px;
    }
    &__wrapper {
      background-image: url("/images/move_mob2.png");
      background-size: contain;
      background-position: center calc(100% - 175px);
    }
  }
  .modal {
    &__wrapper {
      padding: 180px 20px 20px 20px;
      background-size: 300px;
    }
    &__title {
      font-size: 24px;
    }
    &__links {
      flex-direction: column;
      row-gap: 20px;
    }
  }
}

@media screen and (max-width: 520px) {
  .public__left img {
    width: 300px;
  }
}

.jelly-button {
  position: relative;
  transition: transform 0.2s ease, background 0.2s ease;
  overflow: hidden;
  &:active,
  &:focus {
    background: #010f3f;
  }
}

.jelly-button:hover {
  background: #0549d0;
}

@keyframes fadeInText {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-gradient-once {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes rotateAsterics {
  0% {
    transform: rotate(0deg);
  }
  16.67% {
    transform: rotate(60deg);
  }
  33.33% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(180deg);
  }
  66.67% {
    transform: rotate(240deg);
  }
  83.33% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
